.delius-regular {
  font-family: 'Delius', serif;
  font-weight: 400;
  font-style: normal;
}
.rasa {
  font-family: 'Rasa', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  /* height: 100vh;
  width: 100vh; */
  /* background-color: blanchedalmond; */
  background: linear-gradient(blanchedalmond, rgb(198, 222, 241));
  font-family: 'Rasa', serif;
  font-size: 15px;
}

.subheading {
  font-weight: bold;
  text-align: center;
  padding: 3px;
  margin: 0;
}

.gridImage {
  height: 200px;
  width: 300px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.2);
  border-radius: 15%;
  margin: 20px;
}

.header {
  display: block;
  margin: 0 auto;
  width: 800px;
  height: 300px;
  background-image: url('./images/savannah.png');
  background-repeat: no-repeat;
  text-align: center;
}

h1 {
  font-family: 'Delius', serif;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
}

h2 {
  font-size: 30px;
  font-style: italic;
}

h3 {
  text-align: center;
  font-size: 28px;
}

p {
  padding: 2px;
  margin: 0;
}

.cardGrid {
  display: grid;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);

  grid-template-rows: auto-fit;
  gap: 20px;
  justify-content: center;
  /* grid-gap: 5vh;
  grid-template-columns: repeat(5);
  grid-template-rows: repeat(5); */
}

.cardGridItems {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
/* .cardGrid {
  height: 3000px;
  width: 2400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
} */

/* .cardGrid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
} */

.card .cardImage {
  max-width: 75%;
  height: auto;
  border-radius: 15px;
}

.card .cardTitle {
  font-family: 'Rasa', serif;
  margin: 0;
}

.sidebar {
  width: 40 vw;
  text-align: center;
}

/* .header {
  width: 100%;
  text-align: center;
} */
.footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 50px;
}
